section{
    padding: 135px;
    display: grid;
    justify-content: center;
    border: orange solid;
    
}
header, div{
    border: orange solid;
    text-align: center;
    color: aqua ;
    font-size: 40px;
}
#game, #Score, #scoreViewer{
    display: none;
}
.button:hover {
cursor:pointer;
}

#ys{
    margin-bottom: -4px;
}
#Num, h4{
    margin-bottom: -15px;
    margin-top:-1px;
}